.accordion-container {
    display: grid;
    row-gap: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-bottom: 10px;
    padding-right: 10px;
    max-width: 300px;
    max-height: 100vh;
    background: #e2e2e27a;
    box-shadow: -5px -5px 20px 5px #e2e2e27a;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.accordion-container::-webkit-scrollbar {
    display: none;
}
