.accordion-panel {
    background: #ffffff;
    border-radius: 1rem;
}

.accordion-title {
    cursor: pointer;
    padding: 15px;
    user-select: none;
}

.accordion-content-container {
    padding: 0px 15px;
    display: grid;
    grid-template-rows: 0fr;
    opacity: 0;
    transition: 500ms ease-in-out;
}

.accordion-content-container > .accordion-content {
    overflow: hidden;
    grid-row: 1 / span 2;
}

.accordion-content-container.open {
    grid-template-rows: 1fr;
    padding-bottom: 10px;
    opacity: 1;
}

.accordion-content {
    display: block;
    row-gap: 0.5rem;
}

.accordion-content * {
    margin-bottom: 10px;
}

.accordion-content:last-child {
    margin-bottom: 0px;
}
